<div class="lista-tarefas"> <!-- container da lista -->

  <h3>Minhas Tarefas</h3> <!-- Título -->

   <!-- Exibe esta mensagem caso não exista nenhuma tarefa -->
  <p *ngIf="tarefas.length === 0">
    Nenhuma tarefa cadastrada
  </p>

  <!-- Lista de tarefas -->
  <ul>

    <!-- Percorre todas as tarefas cadastradas -->
    <li *ngFor="let tarefa of tarefas; let i = index">

      <!-- Exibe o título da tarefa -->
      <strong>{{ tarefa.titulo }}</strong>

      <!-- Exibe a descrição da tarefa -->
      <p>{{ tarefa.descricao }}</p>

      <!-- Exibe o status caso a tarefa esteja concluída -->
      <span *ngIf="tarefa.concluida">
        Concluída
      </span>

      <br><br>

      <!-- Botão para editar a tarefa -->
      <button (click)="editar(i)">
        Editar
      </button>

      <!-- Botão para excluir a tarefa -->
      <button (click)="remover(i)">
        Excluir
      </button>

    </li>

  </ul>

</div>