<div class="cadastro">

  <h2>Criar Conta</h2>

  <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">

    <input
      type="email"
      formControlName="email"
      placeholder="Seu E-mail">

    @if (cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched) {
      <small>
        E-mail inválido ou vazio.
      </small>
    }

    <input
      type="password"
      formControlName="password"
      placeholder="Sua Senha">

    @if (cadastroForm.get('password')?.invalid && cadastroForm.get('password')?.touched) {
      <small>
        A senha deve ter no mínimo 6 caracteres.
      </small>
    }

    <button
      type="submit"
      [disabled]="cadastroForm.invalid">
      Cadastrar
    </button>

  </form>

  <div class="links">

    <a routerLink="/login">
      Já possui uma conta? Faça login
    </a>

    <span>|</span>

    <a routerLink="/">
      Voltar para Home
    </a>

  </div>

</div>